@font-face {
    src: url(../stylesheet/AvenirLTStd-Book.otf);
    font-family: avenir;
}
body{
    background-image: url('../img/kartozaBackgroundBorder.png');
    background-size: cover;
    padding-left: 10mm;
    padding-right: 10mm;
    font-family: avenir;
    text-align: justify;
    white-space: normal;
}

@page {
    size: a4 portrait;
    margin:0px;
    counter-increment: page;
    font-family: avenir;
    font-size: 8pt;
    white-space: normal;
    color: grey;
    @bottom-right {
        content: 'Copyrights © Kartoza';
    }
    @top-center {
        content: string(chapter);
    }
    @top-right {
        content: 'Page ' counter(page);
    }
}

