@font-face {
    src: url(../assets/AvenirLTStd-Book.otf);
    font-family: avenir;
}
body{
    background-image: url('../img/kartozaBackgroundBorder.png');
    background-size: cover;
    padding-left: 10mm;
    padding-right: 10mm;
    font-family: avenir;
    text-align: justify;
    white-space: normal;
}

@page {
    size: a4 portrait;
    counter-increment: page;
    font-family: avenir;
    font-size: 8pt;
    white-space: normal;
    color: grey;
    @bottom-right {
        content: 'Copyright © Kartoza';
    	  margin-top: -25mm;
    	  margin-right: 10mm;
    }
    @bottom-center{
        content: 'Page ' counter(page);
    	  margin-top: -25mm;
    }
}

